= quest.errors

= semantic_form_for quest do |form|
  = form.inputs do
    = form.input :title
    = form.input :organizers
    
    - User.all.each do |user|
      = check_box_tag :user_ids, user.id, false, :id => dom_id(user), :name => 'user_ids[]'
      = label_tag dom_id(user), user_name(user)
      %br
    
    = form.input :description
    = form.input :meeting_place
    = form.input :meeting_at, :as => :datetime
    = form.input :start_at, :as => :datetime
    = form.input :cost
  = form.buttons do
    = form.commit_button 'Сохранить'
