= quest.errors

= semantic_form_for quest do |form|
  = form.inputs do
    = form.input :title
    = form.input :organizers
    
    = form.fields_for :user_quests, build_user_quests do |user_quest_fields|
      = user_quest_check_box user_quest_fields, quest
      = user_quest_fields.label :user_id, user_name(user_quest_fields.object.user) 
      %br
    
    = form.input :description
    = form.input :meeting_place
    = form.input :meeting_at, :as => :datetime
    = form.input :start_at, :as => :datetime
    = form.input :cost
  = form.buttons do
    = form.commit_button 'Сохранить'
