= semantic_form_for quest do |form|
  = form.inputs do
    = form.input :title
    = form.input :organizers
    
    .organizers
      - available_organizers.each do |user|
        %div
          = check_box_tag :user_ids, user.id, include_organizer?(quest, user), :id => dom_id(user), :name => 'user_ids[]'
          = label_tag dom_id(user), user_name(user)
    
    = form.input :description
    = form.input :date, :as => :string, :input_html => { :class => 'datepicker' }
    = form.input :meeting_place
    = form.input :meeting_at
    = form.input :start_at
    = form.input :cost
  = form.buttons do
    = form.commit_button 'Сохранить'

:javascript
  $(function () {
    $('.datepicker').datepicker({ dateFormat: 'yy-mm-dd' });
  });