%h1 Квесты

- @quests.each do |quest|
  %h2= link_to quest.title, quest
  .organizers= "Организаторы: #{organizer_list quest}".html_safe
  .meeting_place= quest.meeting_place
  .meeting_at=l quest.meeting_at, :format => :short
  
- if can? :create, Quest
  = link_to 'Новый Квест', new_quest_path  
