%h1 Квесты

- @quests.each do |quest|
  %h2= link_to quest.title, quest
  .organizers= "Организаторы: #{organizer_list quest}".html_safe
  %span>=l quest.date, :format => :short
  ,
  = quest.meeting_place
  %hr
  
%br
  
- if can? :create, Quest
  = link_to 'Новый Квест', new_quest_path  
