= javascript 'views/quests/show/comments'

%h1= @quest.title

.organizers
  Организаторы:
  = organizer_list(@quest).html_safe

.description= @quest.description

.meeting_place
  Место встречи: 
  = @quest.meeting_place

.meeting_at
  Время сбора: 
  =l @quest.meeting_at, :format => :short

.start_at
  Время старта: 
  =l @quest.start_at, :format => :short

.cost
  = number_to_currency @quest.cost, :unit => 'грн.'

%br

- if can? :update, @quest
  = link_to 'Изменить', edit_quest_path(@quest)  
  |
  
- if can? :destroy, @quest
  = link_to 'Удалить', quest_path(@quest), :method => :delete, :confirm => 'Точно?'
  |
  
= link_to 'К списку', quests_path

%br
%br

%h4 Комментраии

%p= render 'comments/form', :comment => @quest.comments.new

%ul#comments
  = render :partial => 'comments/comment', :collection => @quest.comments, :as => :comment
  