= semantic_form_for user do |form|
  = form.inputs do
    = form.input :first_name
    = form.input :last_name
    = form.input :email
    
    - if current_user.role? :admin
      = form.input :role, :as => :select, :collection => User::ROLES

    - if with_password  
      = link_to 'Change Password', '', :id => 'change_password', :class => 'dashed'
      
      = form.inputs :id => 'password_section'  do
        = form.input :password
        = form.input :password_confirmation
  
  = form.buttons do
    = form.commit_button 'Сохранить'

:javascript
  $(function () { 
    hidePasswordSection(#{hide_password_section?});
  });
    